
.style__row___1a43S {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-end;
}

.style__row___1a43S > div {
    padding: 10px;
}

.style__name___SFlq_ {
    font-weight: 700;
    flex-basis: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.style__values___1Q8nk {
    flex-grow: 1;
}

.style__values___1Q8nk > div {
    line-height: 1.1em;
    padding: 10px 5px;
}

.style__buttons___3w3G8 a:first-child {
    margin-right: 10px;
}

.style__desktop___1VfRP.style__row___1a43S {
    align-items: center;
}

.style__desktop___1VfRP .style__name___SFlq_ {
    flex-basis: 33%;
}

.style__desktop___1VfRP .style__values___1Q8nk {
    display: flex;
    flex-grow: 2;
    text-align: right;
}

.style__desktop___1VfRP .style__values___1Q8nk .style__value___fgMJF{
    flex-basis: 50%;
}

.style__desktop___1VfRP .style__values___1Q8nk .style__precent___qw4y-{
    flex-basis: 50%;
}.buttons__btn___24OTj {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

a.buttons__btn___24OTj {
    text-decoration:none;
}.table__table___1VEhx {

}

.table__row___2NZDH {
    border: 1px solid transparent;
}

.table__cell___3t0wV {

}.light__widgetContainer___10kxu {
    font-size: 1em;
    background-color: #fff;
    color: black50;
}

.light__even___15k4c {}

.light__odd___29JmM {
    background-color: #F6F6F6;
}

.light__btn___fQ4ca {
    color: #fff;
    font-size: 1em;
    padding: 8px 16px;
}

.light__btnPrimary___2iiLI {
    background-color: #58bd44;
    border-color: #58bd44;
}

.light__btnDanger___1L5T9 {
    background-color: #e64545;
    border-color: #e64545;
}

.light__btnUp___zkOiT {
}

.light__btnUp___zkOiT:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAIUjAGmiMv9YoLpVBUaztdt/mmYWAAAOw==);
    margin-right: 5px;
}

.light__btnDown___2dhF4 {
}

.light__btnDown___2dhF4:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAITjAGmgXvpWoRLVtoy2pxxvE1KAQA7);
    margin-right: 5px;
}

.light__colorPositive___3W24B {
    color: #43a62d;
}

.light__colorNegative___2hUhs {
    color: #f8672f;
}

.light__table___3ML96 {
}

.light__tableRow___20l_R {
}


@keyframes light__tickPos___fBDza {
    from {
        background-color: #a6cf9d;
    }

    to {
        background-color: rgba(166,207,157,0);
    }
}

@keyframes light__tickNeg___1MLIK {
    from {
        background-color: #f2a2a2;
    }

    to {
        background-color: rgba(242,162,162,0);
    }
}

.light__tickNeg___1MLIK {
    animation: light__tickNeg___1MLIK 1s 0s linear;
}

.light__tickPos___fBDza {
    animation: light__tickPos___fBDza 1s 0s linear;
}

.dark__widgetContainer___sFSxI {
    color: #fff;
    font-size: 1em;
    background-color: #242526;
}

.dark__even___2P-WX {}

.dark__odd___KSPwL {}

.dark__btn___2Ejff {
    color: #fff;
    font-size: 1em;
    padding: 8px 16px;
}

.dark__btnPrimary___2eTVi {
    background-color: #58bd44;
    border-color: #58bd44;
}

.dark__btnDanger___1dqQg {
    background-color: #e64545;
    border-color: #e64545;
}

.dark__btnUp___374nj {
}

.dark__btnUp___374nj:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAIUjAGmiMv9YoLpVBUaztdt/mmYWAAAOw==);
    margin-right: 5px;
}

.dark__btnDown___129XT {
}

.dark__btnDown___129XT:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAITjAGmgXvpWoRLVtoy2pxxvE1KAQA7);
    margin-right: 5px;
}

.dark__colorPositive___2OSQi {
    color: #53a642;
}

.dark__colorNegative___2_Uhn {
    color: #e64545
}

.dark__table___2agkw {
}

.dark__tableRow___30TvL {
    border-bottom: 1px solid #3a3b3c;
}

@keyframes dark__tickPos___1Kqle {
    from {
        background-color: #a6cf9d;
    }

    to {
        background-color: rgba(166,207,157,0);
    }
}

@keyframes dark__tickNeg___VS36D {
    from {
        background-color: #f2a2a2;
    }

    to {
        background-color: rgba(242,162,162,0);
    }
}

.dark__tickNeg___VS36D {
    animation: dark__tickNeg___VS36D 1s 0s linear;
}

.dark__tickPos___1Kqle {
    animation: dark__tickPos___1Kqle 1s 0s linear;
}

/*# sourceMappingURL=style.css.map*/