.buttons__btn___24OTj {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

a.buttons__btn___24OTj {
    text-decoration:none;
}.table__table___1VEhx {

}

.table__row___2NZDH {
    border: 1px solid transparent;
}

.table__cell___3t0wV {

}

.base__widgetContainer___3gpxR {
    font-size: 1em;
}


.base__btn___Vzsi9 {
    color: #fff;
    font-size: 1em;
    padding: 8px 16px;
}

.base__btnPrimary___20Wxi {
    background-color: rgb(126, 152, 229);
    border-color: rgb(112, 135, 204);
}

.base__btnSuccess___1RvhB {
    background-color: #58bd44;
    border-color: #58bd44;
}

.base__btnDanger___1Es9_ {
    background-color: #e64545;
    border-color: #e64545;
}

.base__btnUp___2KPeE {
}

.base__btnUp___2KPeE:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAIUjAGmiMv9YoLpVBUaztdt/mmYWAAAOw==);
    margin-right: 5px;
}

.base__btnDown___3zLQ2 {
}

.base__btnDown___3zLQ2:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAITjAGmgXvpWoRLVtoy2pxxvE1KAQA7);
    margin-right: 5px;
}


.base__table___3zu-- {
}

.base__tableRow___2EhIV {
}

.base__even___3V4eg {}
.base__odd___2w6sZ {}

@keyframes base__tickPos___1qmRL {
    from { background-color: #a6cf9d; }
    to { background-color: transparent; }
}

@keyframes base__tickNeg___FYENa {
    from { background-color: #f2a2a2; }
    to { background-color: transparent; }
}

.base__tickNeg___FYENa {
    animation: base__tickNeg___FYENa 1s 0s linear;
}

.base__tickPos___1qmRL {
    animation: base__tickPos___1qmRL 1s 0s linear;
}

.base__colorPositive___14Fcc {
    color: #53a642;
}

.base__colorNegative___2er0p {
    color: #e64545
}

.light__widgetContainer___10kxu {
    background-color: #fff;
    color: #222222;
}

.light__odd___29JmM {
    background-color: #f6f6f6;
}
.dark__widgetContainer___sFSxI {
    color: #fff;
    background-color: #242526;
}

.dark__tableRow___30TvL {
    border-bottom: 1px solid #3a3b3c;
}
.lbx-light__widgetContainer___2ByAC {
    background-color: #fff;
    color: #222222;
}

.lbx-light__odd___2P0q6 {
    background-color: #f6f6f6;
}

.lbx-light__btn___1TI0C {
    background-color: #fff;
    color: #222222;
    border-width: 2px;
    border-radius: 4px;
}

.lbx-light__btnPrimary___1hhE9 {
}

.lbx-light__btnSuccess___1GOzQ {
}

.lbx-light__btnDanger___1pCgs {
    border-color: #ea5724;
}

.lbx-light__btnUp___30rA9 {
}

.lbx-light__btnDown___1dvi4 {
}

.lbx-light__colorPositive___2QTkI {
    color: #408700;
}

.lbx-light__colorNegative___1mCuY {
    color: #ea5724
}
.style__row___3vaBm {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    padding: 10px;
}

.style__row___3vaBm .style__name___2NlBN {
    flex-basis: 100%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.style__row___3vaBm .style__values___RPPSB {
    flex-grow: 1;
    text-align: left;
    margin-right: 5px;
}

.style__values___RPPSB > div {
    line-height: 1.1em;
    padding: 5px;
}

.style__buttons___16mKJ {
    align-items: flex-end;
}

.style__buttons___16mKJ a:first-child {
    margin-right: 5px;
}

.style__width480___19g59 .style__name___2NlBN {
    flex-basis: 23%;
}

.style__width375___39M28 .style__values___RPPSB,
.style__width480___19g59 .style__values___RPPSB {
    display: flex;
}

.style__width480___19g59 .style__values___RPPSB > div {
    flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map*/