
.style__row___1a43S {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
}

.style__row___1a43S > div {
    padding: 10px;
}

.style__name___SFlq_ {
    flex-basis: 25%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.style__values___1Q8nk {
    flex-grow: 1;
    text-align: right;
}

.style__values___1Q8nk > div {
    line-height: 1.1em;
    padding: 5px;
}

.style__buttons___3w3G8 {
}

.style__buttons___3w3G8 a:not(:first-child) {
    display: none;
}

.style__width375___2CMDy .style__values___1Q8nk,
.style__width480___2LFNu .style__values___1Q8nk {
    display: flex;
}

.style__width375___2CMDy .style__values___1Q8nk > div,
.style__width480___2LFNu .style__values___1Q8nk > div {
    flex-basis: 50%;
}

.style__width480___2LFNu .style__buttons___3w3G8 a:not(:first-child) {
    display: inline;
}

.style__width480___2LFNu .style__buttons___3w3G8 a:first-child {
    display: none;
}

.style__width480___2LFNu .style__buttons___3w3G8 a:nth-child(2) {
    margin-right: 10px;
}

.buttons__btn___24OTj {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

a.buttons__btn___24OTj {
    text-decoration:none;
}.table__table___1VEhx {

}

.table__row___2NZDH {
    border: 1px solid transparent;
}

.table__cell___3t0wV {

}.base__widgetContainer___3gpxR {
    font-size: 1em;
}


.base__btn___Vzsi9 {
    color: #fff;
    font-size: 1em;
    padding: 8px 16px;
}

.base__btnPrimary___20Wxi {
    background-color: rgb(126, 152, 229);
    border-color: rgb(112, 135, 204);
}

.base__btnSuccess___1RvhB {
    background-color: #58bd44;
    border-color: #58bd44;
}

.base__btnDanger___1Es9_ {
    background-color: #e64545;
    border-color: #e64545;
}

.base__btnUp___2KPeE {
}

.base__btnUp___2KPeE:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAIUjAGmiMv9YoLpVBUaztdt/mmYWAAAOw==);
    margin-right: 5px;
}

.base__btnDown___3zLQ2 {
}

.base__btnDown___3zLQ2:before {
    content: url(data:image/gif;base64,R0lGODlhCAAMAIABAP///////yH5BAEAAAEALAAAAAAIAAwAAAITjAGmgXvpWoRLVtoy2pxxvE1KAQA7);
    margin-right: 5px;
}


.base__table___3zu-- {
}

.base__tableRow___2EhIV {
}

.base__even___3V4eg {}

@keyframes base__tickPos___1qmRL {
    from { background-color: #a6cf9d; }
    to { background-color: rgba(166,207,157,0); }
}

@keyframes base__tickNeg___FYENa {
    from { background-color: #f2a2a2; }
    to { background-color: rgba(242,162,162,0); }
}

.base__tickNeg___FYENa {
    animation: base__tickNeg___FYENa 1s 0s linear;
}

.base__tickPos___1qmRL {
    animation: base__tickPos___1qmRL 1s 0s linear;
}

.base__colorPositive___14Fcc {
    color: #53a642;
}

.base__colorNegative___2er0p {
    color: #e64545
}

.light__widgetContainer___10kxu {
    background-color: #fff;
    color: #000;
}

.light__odd___29JmM {
    background-color: #F6F6F6;
}
.dark__widgetContainer___sFSxI {
    color: #fff;
    background-color: #242526;
}

.dark__tableRow___30TvL {
    border-bottom: 1px solid #3a3b3c;
}

/*# sourceMappingURL=style.css.map*/